/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 6px 24px 6px 24px;
    text-decoration: none;
    font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}

.topnav {
	padding: 32px 100px 0px 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: white;
}


/*text */
.wordSlides{
	padding: 0px 0px 0px 122px;
	margin: 0px 0px 0px 0px;
}
.word1 {
  color: black;
  font-size: 32px;
  padding: 168px 0px 0px 258px;
  position: absolute;
  top: 0;
  font-family: PingFangTC-Ultralight, sans-serif;
}
.word2 {
  color: black;
  font-size: 32px;
  padding: 210px 0px 0px 258px;
  position: absolute;
  top: 0;
  font-family: PingFangTC-Ultralight, sans-serif;
}
.word3 {
  color: #737373;
  font-size: 14px;
  padding: 218px 0px 0px 258px;
  position: absolute;
  font-family: "arial", sans-serif;
}



/* The dots/bullets/indicators */

.mydot{
	
	margin-left:40%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 260px 2px 0px 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #00004d;
}
.bottom{
	position: relative;
}
.rectangle{
	height: 383px;
	width: 1536px;
	padding: 0px 0px 0px 0px;
	margin: 18px 0px 0px -8px;
	background-color: #0b4e7a;
}
.consult{
	position: absolute;
	top: 242px;
	color: white;
	left: 400px;
	font-family: PingFangTC-Ultralight, sans-serif;
	font-size: 18px;
}
.consultInfo{
	position: absolute;
	text-align: center;
	word-break: break-all;
	width: 154px;
	top: 272px;
	left: 364px;
	color: white;
	font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}
.find1{
	text-decoration: underline; 
	position: absolute;
	top: 324px;
	left: 400px;
	color: #66b171;
	font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}
.implement{
	position: absolute;
	top: 204px;
	color: white;
	left: 686px;
	font-family: PingFangTC-Ultralight, sans-serif;
	font-size: 18px;
}
.implementInfo{
	position: absolute;
	text-align: center;
	word-break: break-all;
	width: 147px;
	top: 234px;
	left: 666px;
	color: white;
	font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}
.find2{
	text-decoration: underline; 
	position: absolute;
	top: 270px;
	left: 692px;
	color: #66b171;
	font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}
.manage{
	position: absolute;
	top: 242px;
	color: white;
	left: 1000px;
	font-family: PingFangTC-Ultralight, sans-serif;
	font-size: 18px;
}
.manageInfo{
	position: absolute;
	text-align: center;
	word-break: break-all;
	width: 145px;
	top: 272px;
	left: 966px;
	color: white;
	font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}
.find3{
	text-decoration: underline; 
	position: absolute;
	top: 324px;
	left: 994px;
	color: #66b171;
	font-size: 14px;
	font-family: PingFangTC-Ultralight, sans-serif;
}
.rectangle2{
	height: 15px;
	width: 1536px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px -8px;
	background-color: #00004d;
}
.fas.fa-comment{
	font-size: 30px;
	color: white;
	position: absolute;
	top:186px;
	left: 428px;
}
.fas.fa-handshake{
	font-size: 30px;
	color: white;
	position: absolute;
	top:148px;
	left: 716px;
}
.fas.fa-user-tie{
	font-size: 30px;
	color: white;
	position: absolute;
	top:186px;
	left: 1024px;
}